<footer class="footer">

    <div class="container">

        <div class="footer-grid">

            <!-- Company -->

            <div class="footer-column">

                <h1 style="color: #ffffff;">Aerovex AC Service</h1>
                <p class="footer-text">

                    Professional AC Installation, Repair and Maintenance services with certified technicians and
                    affordable pricing.

                </p>

                <div class="social-icons">

                    <a href="#"><i class="fab fa-facebook-f"></i></a>

                    <a href="#"><i class="fab fa-instagram"></i></a>

                    <a href="#"><i class="fab fa-whatsapp"></i></a>

                    <a href="#"><i class="fab fa-linkedin-in"></i></a>

                </div>

            </div>

            <!-- Quick Links -->

            <div class="footer-column">

                <h3>Quick Links</h3>

                <ul>

                    <li><a href="index.html">Home</a></li>

                    <li><a href="about.html">About</a></li>

                    <li><a href="services.html">Services</a></li>

                    <li><a href="/blog/">Blog</a></li>

                    <li><a href="book-service.html">Book Service</a></li>

                </ul>

            </div>

            <!-- Services -->

            <div class="footer-column">

                <h3>Services</h3>

                <ul>

                    <li><a href="installation.html">AC Installation</a></li>

                    <li><a href="repair.html">AC Repair</a></li>

                    <li><a href="maintenance.html">AC Maintenance</a></li>

                </ul>

            </div>

            <!-- Contact -->

            <div class="footer-column">

                <h3>Contact</h3>

                <ul class="contact-list">

                    <li>

                        <i class="fa-solid fa-location-dot"></i>

                        Hyderabad, Telangana

                    </li>

                    <li>

                        <i class="fa-solid fa-phone"></i>

                        +91 9021803472

                    </li>

                    <li>

                        <i class="fa-solid fa-envelope"></i>

                        info@aerovexac.com

                    </li>

                    <li>

                        <i class="fa-solid fa-clock"></i>

                        Mon - Sun : 8 AM - 9 PM

                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        <div class="container footer-bottom-wrapper">

            <p>

                © 2026 AEROVEX AC Service & Repair. All Rights Reserved.

            </p>

            <div class="footer-links">

                <a href="#">Privacy Policy</a>

                <a href="#">Terms</a>

                <a href="#">Sitemap</a>

            </div>

        </div>

    </div>

</footer>
